.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 50px 0;
}

.iconsFooter {
    display: flex;
    gap: 20px;
}

.icons-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.icons-links:hover,
.icons-links span:hover,
.icons-links img:hover,
.icons-links a:hover {
   text-decoration: underline;
}

.icons-img {
    width: 30px;
    height: auto;
}
