.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-top:  50px;
}

.iconsGit img {
    display: flex;
    width: 40px;
    height: auto;
}
