.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

h1 {
    font-size: var(--heading-font-size);
    margin: 0.5rem;
}

h2 {
    font-size: var(--heading-font-size);
    margin: 0.5rem;
}

.prez {
    margin: 0 35rem;
    padding: 2rem;
    text-align: justify;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    box-shadow:0 0 7px 0 var(--box-shadow-color);
    font-size: 20px;
}

.transparent {
    background-color: transparent;
    border: none;
}

.iconFrontTechno,
.iconBackTechno {
    display: grid;
    grid-template-columns: repeat(2, 150px) ;
    justify-items: center;
    align-items: center;
    gap: 17px;
}

.iconBackTechno {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: auto auto;
    grid-template-areas:
        "node express" /* First row: two columns */
        "mysql mysql"; /* Second row spans two columns */
}

/* match the grid areas to the class names, node and express on first row on two columns, mysql on second row on two columns */
.circ-B1 {
    grid-area: node;
}
.circ-B2 {
    grid-area: express;
}
.circ-B3 {
    grid-area: mysql;
}

.frontTechno,
.backTechno {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid var(--border-color);
    box-shadow:0 0 7px 0 var(--box-shadow-color);
}

/* Conteneur pour les cercles */
.circle {
    background-color: var(--white); /* Fond blanc */
    border-radius: 50%; /* Cercle parfait */
    width: 100px; /* Taille fixe du cercle */
    height: 100px; /* Taille fixe du cercle */
    display: flex; /* Centrer les contenus */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombre subtile */
    border: 2px solid var(--border-color); /* Bordure */
    overflow: hidden; /* Empêche le débordement */
}

/* Normalisation des SVG */
.circle img {
    background-color: transparent;
    width: 85px; /* Ajuste la largeur à 90% du cercle */
    height: 85px; /* Ajuste la hauteur à 90% du cercle */
    object-fit: contain; /* Adapte le SVG au conteneur tout en préservant ses proportions */
    display: block; /* Supprime tout espace blanc ou marge par défaut */
    margin: auto; /* S'assure que le SVG est centré */
}

img.T1 {
    width: 80px;
}

img.B3 {
    padding-bottom: 10px;
}


.titleTechno {
    padding: 2rem;
}

.backTechno {
    margin-top: 30px;
}

@media (max-width: 1200px) {
    .prez {
        margin: 0 20rem; /* Réduire les marges sur les écrans plus petits */
        font-size: 18px; /* Ajuster la taille de la police */
    }
}

@media (max-width: 992px) {
    .prez {
        margin: 0 10rem; /* Réduire davantage les marges */
        font-size: 18px; /* Ajuster la taille de la police */
    }
}

@media (max-width: 768px) {
    .prez {
        margin: 0 5rem; /* Réduire encore les marges */
        font-size: 16px; /* Ajuster la taille de la police */
        padding: 1.5rem; /* Réduire le padding */
    }
}

@media (max-width: 576px) {
    .prez {
        margin: 0 2rem; /* Réduire les marges au minimum */
        font-size: 16px; /* Ajuster la taille de la police */
        padding: 1rem; /* Réduire le padding */
    }

    h1 {
        font-size: 1.5em; /* Réduire la taille de la police pour h1 */
    }

    h2 {
        font-size: 28px; /* Réduire la taille de la police pour h2 */
    }
}

@media (max-width: 768px) {
    .iconFrontTechno,
    .iconBackTechno{
        grid-template-columns: repeat(2, 1fr); /* Utiliser des colonnes flexibles */
        gap: 10px;
    }

    .frontTechno {
        padding: 2rem; /* Réduire le padding sur les petits écrans */
    }
}
