.navBar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    text-decoration: none;
}

.navBar a{
    text-decoration: none;
}

.navBar a:hover{
   font-weight: bolder;
   color: whitesmoke;
}