.choice-list {
    display: flex;
    justify-content: center;
}

.label {
   /* background-color: blue;*/
    display: flex;
    gap: 1em;
    /*color: #100700;*/ /* light theme */
    color: #C2C2C2; /* dark theme */
    padding: 0.5em;
    font-size: 18px;
    margin-bottom: 1.5em;

}

.select-list{
    /*background-color: green;*/
    /*color: #100700;*/ /* light theme */
    color: #C2C2C2; /* dark theme */
    border-radius: 15px;
    text-align: center;
    font-size: medium;
}
