
*{
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #57a889;
    color: #100700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
}

.page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 30px;
}